/* eng fnt : "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif */

/* default settings */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;} em{font-style:italic;}blockquote,ul,ol,dl{margin:0 0 20px;}ol,ul,dl{margin-left:35px;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:20px;}th,td{padding:5px;}th{font-weight:bold;}caption{margin-bottom:5px;text-align:center;}
	
/**
 * REDECLARATIONS
 */
html               {background:#131313 url(./images/background.jpg) no-repeat fixed 50% 0; color:#ccc;}
body               {font:12px/22px "맑은 고딕", "Malgun Gothic", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; color:#999; color:rgba(255,255,255,0.6); padding:45px 25px; background:#131313 url(images/background.jpg) no-repeat fixed 50% 0;}

@media only screen and (max-device-width:480px) {body{-webkit-text-stroke:0 black;}}

a                  {text-decoration:none; color:#95E572;}
a:hover            {border-bottom:1px dotted #95E572; text-decoration:none;}
a img              {border:none;}
sup,sub            {height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative;}
sup                {bottom: 1ex;}
sub                {top: .5ex;}

#wrapper           {width:940px; margin:0 auto; opacity:0.99;}
header             {width:140px; float:left; padding:0 20px 0 0;}
section            {width:560px; float:left; padding:3px 0 0; margin:0 40px 0 0;}
aside              {width:180px; float:right; padding-top:70px;}
footer             {display:block; clear:both; width:780px; margin:0 0 0 160px; padding:30px 0 0; color:#999; color:rgba(255,255,255,0.6);}

/* header - sidebar */
header ul          {margin:0; padding:0; width:140px;}
header ul li       {list-style:none; background:none; margin:0; padding:0;}
header ul a        {display:block; font-weight:bold; height:36px; width:140px; text-align:right; overflow:hidden; color:#fff; color:rgba(255,255,255,0.6); letter-spacing:-1px; }
header ul a:hover  {border:none; color:#fff;}

	/* .p_text img */
.treeBase { width:140px; }
.treeBase a { background:none !important; }
.treeBase .c_cnt { display:none; }
.treeBase .allView { text-align:right; }
.treeBase ul li .p_text { float:left; }
.treeBase ul li a { float:right; }

header ul li.current ul li a     {height:auto; background:url(images/bullet.png) no-repeat 115px 50% !important; text-indent:0; text-align:right; color:#999; font-size:11px; padding-right:32px; width:auto; font-weight:normal; line-height:1.8;}
header ul li.current ul li.current a {color:#fff;}

h1                 {font-size:30px; letter-spacing:-1px; color:#fff; margin:0 0 23px;}
h1 em              {color:#8EBFF7;}

h2                 {font-size:21px; letter-spacing:-1px; color:#fff; margin:0 0 20px;}
div.article h2     {color:#8EBFF7;}

h3                   {color:#fff; margin:0 0 10px;}
div.post_preview h3  {margin:0;}
div.preview h3 a     {color:#fff;}
ul h3                {margin:0;}

aside strong       {color:#ccc;}
strong             {color:#efefef;}

div.meta           {font-size:12px; color:#999; padding:5px 10px; margin:0 0 20px; background:rgba(0,0,0,0.25); -webkit-border-radius:6px;}
div.resources li   {font-weight:bold; margin:0 0 3px;}

ul                 {margin:0 0 20px; padding:0;}
ul li              {margin:0 0 8px; padding:0 0 0 20px; list-style:none; background:url(images/bullet.png) no-repeat 5px 6px; line-height:1.5;}
ul li a            {font-weight:bold;}

.article ul li      {background-position:5px 10px;}
.sessions li        {font-size:12px; margin-bottom:8px; color:#999;}
.sessions li strong {display:block; font-size:16px; color:#fff;}

div.hr             {width:100%; height:30px; margin:0 0 25px; background:url(images/hr.png) no-repeat center;}

div.previews       {padding:20px 20px 15px 0; margin:0 0 30px; width:540px; float:left; font-size:12px; line-height:17px; background:rgba(0,0,0,0.25); -webkit-border-radius:8px; -moz-border-radius:8px;}
div.preview            {width:116px; margin:0 0 0 19px; float:left;}
div.preview span.title {margin:0 0 3px; font-weight:bold; color:#fff;}
div.preview span.text  {margin:0; color:#999; padding:0; display:block;}
div.preview img        {margin:0 0 8px; opacity:0.7}
div.preview a          {display:block;}
div.preview a:hover     {border:none;}
div.preview a:hover img {opacity:1;}
div.preview a:hover span.title {border-bottom:1px dotted #95E572;}

div.who-we-are                 {margin-bottom:0;}
div.who-we-are div.preview     {width:250px; margin-left:20px}
div.who-we-are div.preview img {float:left; margin:0 15px 0 0;}
div.who-we-are div.preview h3  {margin-bottom:0;}

div.sectioned      {width:100%; float:left; position:relative; padding-bottom:30px; margin-bottom:30px;}
div.resources      {width:270px; float:left;}
div.harmony        {width:270px; float:right; background:url(images/harmony_bug.png) no-repeat;}
div.harmony h3     {display:none;}
div.harmony p      {margin:42px 0 0 107px;}
div.sectioned div.meta_link {position:absolute; bottom:0; width:270px;}
div.sectioned div.meta_link a {margin:0;}
div.meta_link a    {color:#999; font-size:12px; display:block; font-weight:bold; padding:5px 10px; background:rgba(0,0,0,0.25); -webkit-border-radius:6px; text-align:center; margin-bottom:25px;}
div.meta_link a:hover {border:none; background:rgba(0,0,0,0.4);}
div.meta_link a strong {color:#fff;}

table              {width:100%; border-collapse:collapse; margin:0 0 20px; background:rgba(0,0,0,0.1); -webkit-border-radius:8px; -moz-border-radius:8px;}
table th           {padding:5px 15px; background:rgba(0,0,0,0.2);}
table th:first-child {-webkit-border-top-left-radius:8px; -moz-border-radius-topleft:8px;}
table th:last-child  {-webkit-border-top-right-radius:8px; -moz-border-radius-topright:8px;}
table td           {border-top:1px solid #666; border-color:rgba(255,255,255,0.05); padding:5px 15px;}

div.article        {font-size:15px; color:#ccc; color:rgba(255,255,255,0.6); line-height:25px; padding:20px 25px 1px; background:rgba(0,0,0,0.25); -webkit-border-radius:8px; -moz-border-radius:8px; margin-bottom:20px;}
div.article pre    {margin:0 0 20px; background:rgba(0,0,0,0.25);}
div.article img    {border:1px solid #333; border-color:rgba(0,0,0,0.8); padding:4px; background:rgba(255,255,255,0.2); float:right; margin:0 0 15px 25px; max-width:500px;}
div.article p.styled img {border:none; background:none; padding:0;}
div.article p.small {float:right; margin:5px 0 20px 25px;}
code               {background:rgba(0,0,0,0.25);}
div.article pre code {background:none; font-size:12px; padding:15px 20px; display:block; overflow-x:auto; overflow-y:hidden;}
div.article aside    {margin-right:-245px; color:#999; padding-top:0; font-size:13px; line-height:25px;}

div#comments ul li       {padding:0; background:none; clear:both;}
div#comments div.author  {float:right; margin-right:-220px; width:180px;}
div#comments div.author .author {display:block;}
div#comments div.author .date   {font-size:11px; color:#999; font-weight:normal;}
div#comments div.avatar img  {float:left; margin-left:-85px; border:1px solid #333; border-color:rgba(0,0,0,0.8); padding:4px; background:rgba(255,255,255,0.2); -webkit-border-radius:3px; -moz-border-radius:3px;}
div#comments div.comment {font-size:15px; color:#ccc; color:rgba(255,255,255,0.6); line-height:25px; padding:20px 25px 1px; background:rgba(0,0,0,0.25); -webkit-border-radius:8px; -moz-border-radius:8px; margin-bottom:40px;}
div#comments div.comment.admin {background:rgba(255,255,255,.1);}

div.portfolio-entry       {margin-bottom:40px; min-height:400px;}
div.portfolio-description {float:right; margin-right:-220px; width:180px;}

#new_comment .instructions {float:left; margin-left:-180px; width:140px;}
#new_comment .comment textarea {width:98%; height:190px; font-size:15px;}
#new_comment .author       {float:right; margin-right:-220px; margin-top:-20px; width:180px;}
#new_comment .author label {display:block; font-weight:bold;}
#new_comment .author input {width:176px; font-size:15px; margin-bottom:15px;}
#new_comment .author input[type=submit] {color:#fff; font-size:12px; display:block; font-weight:bold; padding:5px 10px; background:rgba(0,0,0,0.45); -webkit-border-radius:6px; text-align:center; margin:15px 0 0; border:none;}





/* commiunication */
.communication { padding:20px 0; }
.communicationInput { width:640px; margin:0 auto 30px; }
	
.communicationList			{ font-size:13px; letter-spacing:-1px; margin:0 auto; }
.communicationList ol 			{ list-style:none;}
.communicationList li 			{ list-style:none; padding:10px 0; border-top:1px solid #ddd; position:relative; }
.communicationList li ul li 		{ padding:10px 0 0px 0;  border:none; }

.communicationList .box  		{
	width:100%;
}
.communicationList li ul li .box	{ background:url(images/icon_re.gif) 0 4px no-repeat; }
.communicationList li ul li .box .name { font-weight:bold; margin-left:30px; }
.communicationList li ul li .box p { margin-left:30px; }
.communicationList li ul li .date a { margin-right:39px; }

.communicationList .image img { width:42px !important; height:42px !important; }
.communicationList .image { position:absolute; border:2px solid #ccc; padding:1px; top:8px; left:-56px; -webkit-transition: opacity 0.2s linear; opacity: 0; }
.communicationList li:hover .image { opacity: 1; }
.communicationList li .control a { color:#ccc; }
.communicationList li:hover .control a { color:#666; }

.communicationList li .date { display:none; }
.communicationList li:hover .date { display:inline; }
.communicationList .name a		{ font-weight:bold; margin-right:5px; }
.communicationList .date a		{ float:right; }
.communicationList .control a 		{ padding:0 5px; float:right; margin-left:5px; }
.communicationList .reply,
.communicationList .modify,
.communicationList .delete,
.communicationList .confirm 		{ }
.communicationList .commentList p	{ line-height:1.4em; padding-top:5px;}
.communicationList .trackbackList p	{ line-height:1.2em; padding-top:5px;}
.communicationList .trackbackList h4 	{ font-size:1em;}
.communicationList .trackbackList .from { font-family:verdana;}
/********************************/
.tt-input-div { clear:both; }
.tt-input-div dl		{ padding:0 0px; }
.tt-input-div dt		{ display:block; }
/* label hide - name, pass, website, content */
.tt-input-div .tt-input-name dt,
.tt-input-div .tt-input-password dt,
.tt-input-div .tt-input-website dt,
.tt-input-div .tt-input-content dt		{ display:none; }

/* 배경/테두리 부분 */
.tt-input-div input { padding-left: 50px; }
.tt-input-div .tt-input-name input { background:url(./images/txt_name.gif) #f0f0f0 4px 6px no-repeat; }
.tt-input-div .tt-input-password input { background:url(./images/txt_password.gif) #f0f0f0 4px 6px no-repeat; }
.tt-input-div .tt-input-website input { background:url(./images/txt_homepage.gif) #f0f0f0 4px 6px no-repeat; }
.tt-input-div .tt-input-option input { float:left; border:none; }
.tt-input-div .tt-input-option label { float:left; background:url(./images/txt_secret.gif) 0 5px no-repeat; text-indent:-9999px; display:block; width:35px; height:12px; }
.tt-input-div .tt-input-option span { display:none; }
.tt-input-div textarea		{ width:100%;/* important! decides width of Reply */ height:180px; overflow:visible; background:url(./images/reply_bg.jpg) #1c1c1c no-repeat bottom center; color:#fff; }
.tt-input-div .tt-input-btn-comment	{ width:100px; color:#888; padding:5px 3px; border:1px solid #666; background-color:#fff; font-family:Gulim;}
.tt-input-div .tt-input-option dt,
.tt-input-div .tt-input-btn dt 		{ display:none !important; }

p                  {margin:0 0 20px;}
