@charset "utf-8";
/* CSS Document */
body {
	background-image: url(./images/lg1.jpg);
	background-position: right top;
}
.cn { 
	background-color:rgba(255,255,255,0.5);
}
.themeClr {
	color:#990;
}


a {
	color: #333;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF9;
}
a:active {
	text-decoration: none;
}

.titleWrap { padding:10px; border-left:10px solid #000; border-right:10px solid #000; margin:10px; }
.titleWrap h2 { color:#000; }
.titleWrap:hover h2 { color:#fff; text-decoration:none !important; }
.titleWrap:hover a { text-decoration:underline; }