@charset "utf-8" #tag-entry .title .date {
    visibility: hidden
}

#loading {
	display: none !important
}

.content {
	visibility: visible !important
}

html.webgl .content {
	opacity: 1
}

#tag-entry ul {
    overflow: hidden
}

#tag-entry li {
    float: left;
    padding-right: 14px
}

@media all and (max-width:759px) {
    #tag-entry ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 5px 1px 0;
        margin-bottom: -1px
    }

    #tag-entry li {
        display: inline-flex;
        overflow: hidden;
        float: none;
        -webkit-flex: 1 auto;
        -moz-flex: 1 auto;
        flex: 1 auto;
        position: relative;
        height: 40px;
        padding: 0;
        margin: 1px;
        justify-content: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.02);
        border-radius: 6px
    }

    html.dark #tag-entry li {
        background-color: rgba(255, 255, 255, 0.08)
    }

    #tag-entry a {
        display: block;
        padding: 0 14px;
        line-height: 40px
    }
}